@import url(../pages/colorVaration.css);

.wrap {
  width: 100%;
  margin: 20px auto;
  background-color: var(--color-cbd9ff);
  border-radius: 12px;
  padding: 20px 10px;
}
.searchBar {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  & input {
    width: 100%;
    background-color: var(--color-ecf1ff);
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 8px;
  }
  & button {
    background: none;
    border: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.wrapPlayer {
  display: flex;
  justify-content: flex-start;
  max-height: 600px;
  overflow-y: scroll;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.playerList {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-ecf1ff);
  padding: 15px;
  overflow: hidden;

  & .resultvideo {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 16/9;
  }
}
.listName {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0;
}
.playadd {
  width: 100%;
  margin: 10px 0 5px 0;
  border: 0;
  background: var(--color-white);
  font-weight: 500;
  font-size: 20px;
  color: var(--color-ddd);
  border-radius: 8px;
}

.addedWrap {
  margin: 20px 0;
}
.addedNotice {
  text-align: center;
  margin: 20px 0;
  color: var(--color-ddd);
}
.list {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
.listThumb {
  width: 80px;
  height: 50px;
  border-radius: 8px;
}
.listTitle {
}
.listDeleteButton {
}

.controls {
  margin: 0 auto;
}
