.wrap {
  width: 100%;
  margin: 20px auto;
  background-color: var(--color-blueGray01);
  border-radius: 12px;
  padding: 20px 10px 5px;
}

.searchBar {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  & input {
    width: 100%;
    background-color: white;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 8px;
  }
  & button {
    background: none;
    border: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.wrapPlayer {
  display: flex;
  justify-content: flex-start;
  max-height: 600px;
  overflow-y: scroll;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}
.wrapPlayer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}
.playerList {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px;
  overflow: hidden;
  width: 47%;
  gap: 10px;

  & .resultVideo {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 16/9;
  }
}

.resultvideo .listName {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0;
}
.playadd {
  width: 100%;
  margin: auto 0 5px 0;
  background: #f0f0f0;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-888);
  border: 0;
  border-radius: 8px;
  font-family: 'Noto Sans KR', sans-serif;
}
.playadd:hover {
  color: var(--color-white);
  background: #c8c8d2;
}

.addedWrap {
  margin: 10px 0 20px;
}
.addedNotice {
  text-align: center;
  margin: 10px 0 20px;
  color: var(--color-333030);
}
.playlistAdded {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.playlistAdded .list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.playlistAdded .list:not(:first-child) {
  border-top: 1px solid #aaa;
  padding-top: 8px;
}
.listThumb {
  width: 120px;
  aspect-ratio: 16/9;
  border-radius: 6px;
}
.listTitle {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.controls {
  margin: 0 auto;
}

.listDeleteButton {
  display: flex;
  margin-left: auto;
  border-radius: 50%;
  cursor: pointer;
  background: #f0f0f0;
  justify-content: center;
  align-items: center;
  height: 30px;
  min-width: 30px;
  aspect-ratio: 1/1;
  line-height: -1;
}
.listDeleteButton:hover {
  background-color: #c8c8d2;
}

@media (max-width: 600px) {
  .wrapPlayer {
    display: block;
    width: 100%;
  }
  .playerList {
    width: 98%;
    flex-direction: row;
    margin-bottom: 10px;
    .resultVideo {
      width: 30%;
    }
    .playadd {
      max-width: 30px;
      height: 30px;
      aspect-ratio: 1/1;
      margin: 0 0 0 auto;
      border-radius: 50%;
    }
    .listName {
      font-size: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
