.wrap {
  margin: 0 auto;
  width: 100%;
  padding: 20px 10px;
}
.inputsection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;

  &:last-child {
    & button {
      border: 0;
      background-color: #4e7cf3;
      color: #fff;
      border-radius: 8px;
      padding: 10px;
    }
  }

  & label {
    margin: 5px 0;
  }
  & input {
    width: 100%;
    padding: 10px;
    background-color: #ecf1ff;
    border-radius: 8px;
    border: 2px solid transparent;
    outline: none;
    &:focus {
      border: 2px solid #619ae0;
    }
  }
  & textarea {
    resize: none;
    height: 200px;
    background-color: #ecf1ff;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    border: 2px solid transparent;
    &:focus {
      border: 2px solid #619ae0;
    }
  }
}

/* BoardDetail */
.title {
  display: flex;
}
