.wrap_list{
    padding: 10px;
    & .listitem{
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 8px;
    
        background: rgb(202,233,255);
        background: linear-gradient(90deg, rgba(202,233,255,1) 0%, rgba(253,243,255,1) 50%, rgba(244,242,252,1) 100%);
        
        margin-bottom: 12px;
        &:last-child{
            margin-bottom: 0;
        }
        & .thumbnail{
            background-color: #63FFE3;
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 6px;
        }
        & .desc{
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            & h3{
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 4px;  
            }
            & span{
                font-size: 10px;
                color: #BFAEAE;
            }
        }
        & .count{
            margin-left: auto;
            font-size: 10px;
            color: #706868;
        }
    }
}

