@import url(../../pages/colorVaration.css);

.light-mode {
  --color-main: #619ae0;
  --color-white: #fff;
  --color-blackwhite01: #fff;
  --color-blackwhite02: #333030;
  --color-blackwhiteOp01: rgba(255, 255, 255, 0.5);
  --color-blueGray01: #c7e1f5;
  /* --color-black: #000; */
  --color-111: #111;
  --color-4e7cf3: #4e7cf3;
  --color-cbd9ff: #cbd9ff;
  --color-e7ecff: #e7ecff;
  --color-ecf1ff: #ecf1ff;
  --color-333030: #333030;
  --color-545050: #545050;
  --color-706868: #706868;
  --color-7d7d7d: #7d7d7d;
  --color-888: #888;
  --color-a4a4a4: #a4a4a4;
  --color-ccc: #ccc;
  --color-eee: #eee;
  --color-bfaeae: #bfaeae;
  --color-df8484: #df8484;

  --gradient01-start: 203, 217, 255, 1;
  --gradient01-end: 236, 241, 255, 1;
}

.dark-mode {
  --color-blackwhite01: #2f2f2f;
  --color-blackwhite02: white;
  --color-blackwhiteOp01: rgba(40, 40, 40, 0.8);

  --color-blueGray01: #393939;

  --color-333030: #eee;
  --color-ecf1ff: #eee;
  --color-cbd9ff: #7d7d7d;

  --gradient01-start: 28, 27, 27, 1;
  --gradient01-end: 65, 65, 65, 1;
}
.btntheme {
  position: absolute;
  z-index: 99;
  top: 20px;
  right: 20px;
  display: flex;
  margin-left: auto;
  line-height: 0;
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  color: #4e7cf3;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 450px) {
  .btntheme {
    right: 10px;
  }
}
