@import url(../../pages/colorVaration.css);

.header {
  padding: 10px 0;
}

.navWrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.mainHeaderLeft {
  display: flex;
  margin-right: auto;
}

.mainHeaderLeft span {
  font-weight: bold;
}

.mainHeaderLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  & span {
    color: var(--color-main);
    white-space: nowrap;
  }
}

/* right start */
.rightWrap {
  display: flex;
  align-items: center;
}
.mainHeaderRight {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.mainHeaderRight .roundedFull {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-7d7d7d);
}

.mainHeaderUser {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.mainHeaderUser span {
  margin-left: 4px;
}

.mainHeaderRight .flex {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.userText {
  margin-left: 6px;
}
