:root {
  --color-main: #619ae0;
  --color-white: #fff;
  --color-black: #000;
  --color-4e7cf3: #4e7cf3;
  --color-e7ecff: #e7ecff;
  --color-ddd: #ddd;
  --color-f9f9f9: #f9f9f9;
  --color-f6f6f6: #f6f6f6;
  --color-ecf1ff: #ecf1ff;
  --color-eee: #eee;
  --color-111: #111;
  --color-333: #333;
  --color-888: #888;
  --color-a4a4a4: #a4a4a4;
  --color-706868: #706868;
  --color-7d7d7d: #7d7d7d;
  --color-bfaeae: #bfaeae;
  --color-df8484: #df8484;
}
