@import url(colorVaration.css);

.errorPage {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorPage h2 {
  margin: 20px 0;
}

.errorImage {
  width: 400px;
  transform: translateX(10%);
}

.errorMessage {
  margin-top: 20px;
  color: var(--color-main);
  font-size: 20px;
}
