@import url();

/* ------------------- */

.mainTop {
  margin-top: 20px;
}
.wrap {
  margin-bottom: 100px;
}
.miniTitle {
  font-size: 14px;
  color: var(--color-main);
  font-weight: 400;
}
.bodyText {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  color: var(--color-333030);
}

.contents {
  margin-top: 20px;
}

.pickTop {
  display: flex;
  justify-content: space-between;
}

.moreBtn {
  /* height: 10px; */
  margin-top: auto;
  margin-bottom: 12px;
  font-size: 14px;
}

.recommendList {
  display: flex;
  flex-wrap: wrap;
  justify-conetnt: center;
  gap: 16px;
}
