@import url(../colorVaration.css);

.listitem {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
  background: var(--color-blackwhite01);

  & .itemInformation {
    display: flex;
    align-items: center;
  }
  & .themeList {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    & span {
      padding: 4px 16px;
      background: var(--color-white);
      border-radius: 20px;
      font-size: 13px;
      border: 1px solid var(--color-main);
      font-weight: bold;
      color: var(--color-main);
    }
  }
  & .desc {
    width: 100%;
    margin-left: 10px;
    & h3 {
      font-size: 18px;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 500px;
      min-width: 100px;
      color: var(--color-333030);
    }
    & span {
      font-size: 14px;
      margin-left: auto;
      color: var(--color-333030);
    }
  }
  & .count {
    margin-left: auto;
    font-size: 10px;
    color: var(--color-706868);
  }
}
.bookmark {
  /* 북마크 버튼의 스타일을 설정합니다. */
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.bookmarked {
  /* 북마크가 활성화되었을 때의 스타일을 설정합니다. */
  color: yellow;
}
.newWrap {
  margin-top: 20px;
}
@media (max-width: 450px) {
  .listitem {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;

    & .itemInformation {
      display: flex;
      align-items: center;
    }
    & .themeList {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      & span {
        padding: 5px 20px;
        background: var(--color-white);
        border-radius: 20px;
        font-size: 14px;
      }
    }
    & .desc {
      width: 100%;
      margin-left: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      & h3 {
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 200px;
        min-width: 100px;
      }
    }
  }
}

.isScrolled {
  align-items: center;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.contSection {
  margin-top: 80px;
  margin-bottom: 20px;
}

.thumbnail {
  width: 50px;
  height: 50px;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid gray;
  box-sizing: border-box;

  & img {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 4px;
    object-fit: cover;
  }
}

/* 입력 섹션 */
.inputSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
  color: var(--color-333030);

  &:last-child {
    & button {
      border: 0;
      background-color: var(--color-main);
      color: var(--color-white);
      border-radius: 8px;
      padding: 10px;
    }
  }

  & label {
    margin: 5px 0;
  }
  & input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: white;
    color: #7d7d7d;
    outline: none;
    &:focus {
      border: 2px solid var(--color-main);
    }
  }
  & textarea {
    resize: none;
    height: 200px;
    /* background-color: var(--color-ecf1ff); */
    border-radius: 8px;
    padding: 10px;
    outline: none;
    border: 2px solid transparent;
    &:focus {
      border: 2px solid var(--color-main);
    }
  }
}

/* 상세보기 화면 */
.detailWrap {
  margin-top: 20px;
}

.wrapList {
  margin-top: 10px;
  & .listitemDetail {
    background: none;
  }
}

.titleWrap {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 8px;
  /* background: rgba(100, 100, 100, 0.8); */
  background: var(--color-blackwhiteOp01);
  & .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 4px;
      color: var(--color-blackwhite02);
    }
    & span {
      color: var(--color-blackwhite02);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 180px;
    }
  }
  & .count {
    margin-left: auto;
    font-size: 16px;
    color: var(--color-blackwhite02);
  }
}

.bgWrap {
  margin-top: -120px;
  height: 500px;
}

.thumbBg {
  transform: scale(1.2);
  width: 100%;
  background: var(--color-fff);
}

.sectionTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-ecf1ff);

  & .name {
    font-size: 12px;
    color: var(--color-bfaeae);
    margin-top: 4px;
  }
}

.sectiontitle {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
}

.content {
  margin-top: -160px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: -20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 20px;

  & .description {
    color: var(--color-blackwhite02);
    border-bottom: 1px solid var(--color-blackwhite02);
    padding: 10px 0;

    & p {
      font-size: 18px;
      color: #141414;
    }
  }
  & .songs {
    padding: 30px 0 10px 0;
    color: var(--color-blackwhite02);

    & li {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 10px 0;
      padding: 10px 0;
      border-bottom: 1px solid var(--color-blackwhite02);
      & img {
        object-fit: cover;
        max-width: 50px;
        height: 50px;
        border-radius: 4px;
      }
      & span {
        font-size: 16px;
      }
    }
  }
  & .btnPlay {
    margin-top: 20px;
  }
  & .contentBg {
    position: absolute; /* 부모 요소에 상대적으로 위치를 설정합니다. */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-blackwhite01);
    opacity: 0.8;
    z-index: -1; /* contentBg가 content 뒤에 있도록 z-index를 설정합니다. */
  }
}

.btnPlay {
  margin: 0 auto;
}
/* .dontent::after {
  content: '';
  position: absolute;
  border: 2px solid red;
  inset: 0;
  width: 100%;
  height: 100%;
} */

@media (max-width: 450px) {
  /*   .thumbBg {
    margin-top: -50px;
    height: 100%;
    width: auto;
  } */
  .titleWrap {
    margin-top: 20px;
  }
  .titleWrap .titles {
    h3 {
      font-size: 18px;
    }
    span {
      font-size: 14px;
    }
  }
  .titleWrap .count {
    font-size: 14px;
  }
  .bgWrap {
    height: auto;
  }

  .content {
    margin-top: -20px;
    .songs li {
      padding-top: 0;
      span {
        font-size: 14px;
        line-height: 1.6;
        /* border: 2px solid red; */
      }
    }
  }
}
