@import url(../colorVaration.css);

.listitem {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;

  background: rgb(202, 233, 255);
  background: linear-gradient(
    90deg,
    rgba(202, 233, 255, 1) 0%,
    rgba(253, 243, 255, 1) 50%,
    rgba(244, 242, 252, 1) 100%
  );

  margin-bottom: 12px;
  & .itemInformation {
    display: flex;
    align-items: center;
  }
  & .themeList {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    & span {
      padding: 5px 20px;
      background: var(--color-white);
      border-radius: 20px;
      font-size: 14px;
    }
  }
  & .desc {
    width: 100%;

    margin-left: 10px;
    display: flex;
    align-items: center;
    & h3 {
      font-size: 18px;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 180px;
    }
    & span {
      font-size: 14px;
      margin-left: auto;
      color: var(--color-bfaeae);
    }
  }
  & .count {
    margin-left: auto;
    font-size: 10px;
    color: var(--color-706868);
  }
}

.thumbnail {
  background-color: var(--color-main);
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 6px;
  & img {
    display: block;
    width: 50px;
    aspect-ratio: 1/1;
  }
}
/* BoardNew */

.inputSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;

  &:last-child {
    & button {
      border: 0;
      background-color: var(--color-4e7cf3);
      color: var(--color-white);
      border-radius: 8px;
      padding: 10px;
    }
  }

  & label {
    margin: 5px 0;
  }
  & input {
    width: 100%;
    padding: 10px;
    background-color: var(--color-ecf1ff);
    border-radius: 8px;
    border: 2px solid transparent;
    outline: none;
    &:focus {
      border: 2px solid var(--color-main);
    }
  }
  & textarea {
    resize: none;
    height: 200px;
    background-color: var(--color-ecf1ff);
    border-radius: 8px;
    padding: 10px;
    outline: none;
    border: 2px solid transparent;
    &:focus {
      border: 2px solid var(--color-main);
    }
  }
}

/* 상세보기화면 */
/* detail */
.titleWrap {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999;

  & .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 4px;
    }
    & span {
      color: var(--color-bfaeae);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 180px;
    }
  }
  & .count {
    margin-left: auto;
    color: var(--color-706868);
  }
}
.detailWrap {
  position: relative;
}
.wrapList {
  & .listitemDetail {
    background: none;
  }
}

.bgWrap {
  transform: scale(1.2);
  margin-top: -100px;
}
.thumbBg {
  display: block;
  width: 100%;
  height: 300px;
  background: var(--color-ccc);
  z-index: -1;
}
.sectionTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-ecf1ff);
  & .title {
  }
  & .name {
    font-size: 12px;
    color: var(--color-bfaeae);
    margin-top: 4px;
  }
}
.content {
  position: relative;
  z-index: 99999;
  padding: 20px 10px;
  margin-bottom: -20px;
  background-color: rgb(202, 233, 255);
  border-radius: 10px 10px 0 0;
  & .description {
    padding: 20px 0;
    font-size: 18px;
  }
  & .songs {
    padding: 20px 0 10px 0;
    border-bottom: 1px solid var(--color-white);
  }
  & .btnPlay {
    margin-top: 20px;
  }
}
