.firstPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
}

.firstPage Button {
  font-size: 0.9rem;
  max-width: 400px;
  color: #fff;
  width: 100%;
  box-shadow: 4px 2px 4px #ddd;
  border-radius: 8px;
  line-height: unset;
  padding: 10px 0;
  font-weight: 500;
}

Button.login {
  color: #111;
  background: #fff;
  margin-top: 40px;
  margin-bottom: 8px;
}

Button.signup {
  background-color: #619ae0;
  margin-bottom: 16px;
}
.unsign {
  font-size: 14px;
}
