:root {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  vertical-align: baseline;
}

.container {
  min-width: 280px;
  min-height: 290px;
  background: #619ae0;
  background: linear-gradient(
    0deg,
    rgba(203, 217, 255, 1) 0%,
    rgba(236, 241, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container Button {
  font-size: 0.9rem;
  color: #fff;
  width: 196px;
  height: 24px;
  border: solid 2px #619ae0;
  border-radius: 22px;
  line-height: unset;
  box-sizing: border-box;
}

Button.login {
  background-color: rgba(203, 217, 255, 0.3);
  margin-top: 40px;
  margin-bottom: 8px;
}

Button.signup {
  background-color: #619ae0;
  margin-bottom: 16px;
}

.link {
  font-size: 0.8rem;
}

.container a {
  color: #858484;
}
