body,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  line-height: normal;
  font-family: inherit;
}

a:visited,
a:active,
a:link,
a:hover {
  text-decoration: none;
  color: #a4a4a4;
}

.login-buttons > button {
  background: inherit;
  padding: unset;
  font-size: 1rem;
  font-weight: bolder;
}

.loginpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginpage-container {
  min-width: 280px;
  min-height: 290px;
  padding: 34px;
}

.loginpage-container > .pagename {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

h2 {
  color: #619ae0;
  font-size: 1.4rem;
  flex-grow: 1;
}

.loginpage-container > form > .idpw {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.idpw > label {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

input {
  /* 입력칸을 자동완성해도 input의 배경색이 변하지 않도록 해주는 코드 두 줄 */
  -webkit-box-shadow: 0 0 0 1000px #f9f9f9 inset;
  box-shadow: 0 0 0 1000px #f9f9f9 inset;
  background-color: #f9f9f9;
  border: solid 2px #f9f9f9;
  border-radius: 8px;
  padding: 0.625rem;
}

input:focus {
  border: solid 2px;
  outline-color: #619ae0;
}

.idpw > p {
  color: #df8484;
  font-size: 0.625rem;
  margin-top: 0.3rem;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.75rem;
  padding-top: 80px;
}

.login-buttons > button {
  background-color: #619ae0;
  border: solid 2px #619ae0;
  border-radius: 8px;
  color: #fff;
  padding: 0.3rem 0;
}

.login-buttons > a {
  text-align: center;
  font-weight: bolder;
  padding: 0.3rem 0;
  background-color: #f6f6f6;
  border: solid 2px #f6f6f6;
  border-radius: 8px;
}
