:root {
  --color-main: #619ae0;
  --color-white: #fff;
  --color-e7ecff: #e7ecff;
  --color-black: #000;
  --color-eee: #eee;
  --color-f9f9f9: #f9f9f9;
  --color-888: #888;
}

.mypage {
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.mypageHead {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 16px;
}

.mypageHeadTitle {
  color: var(--color-main);
}

.mypageHeadHr {
  border: 1.5px solid var(--color-e7ecff);
  margin-bottom: 30px;
}

.mypageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileCover {
  display: block;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 30px;
}

.mypageBodyStitle {
  font-size: 14px;
  color: var(--color-white);
  margin-bottom: 8px;
}

.mypageBodyInput {
  width: 100%;
}
.mypageBodyInput input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--color-f9f9f9);
  border: 1px solid var(--color-eee);
  margin-bottom: 30px;
  box-sizing: border-box;
}

.mypageBodyHash {
  font-size: 12px;
  color: var(--color-888);
  margin-bottom: 8px;
}

.confirmButton {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
