@import url(../colorVaration.css);

.mypage {
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.mypageHead {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 16px;
}

.mypageHeadTitle {
  color: var(--color-main);
}

.mypageHeadHr {
  border: 1.5px solid var(--color-e7ecff);
  margin-bottom: 30px;
}

.mypageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileWrap {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  margin-bottom: 30px;
}

.mypageBodyStitle {
  font-size: 14px;
  color: var(--color-333030);
  margin-bottom: 8px;
}

.mypageBodyInput {
  width: 100%;
}
.mypageBodyInput input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--color-f6f6f6);
  border: 1px solid var(--color-eee);
  margin-bottom: 30px;
  box-sizing: border-box;
}

.mypageBodyHash {
  font-size: 12px;
  color: var(--color-888);
  margin-bottom: 8px;
}

.confirmButton {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
