.mypage {
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.mypageHead {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.mypageHeadTitle {
  color: var(--color-main);
  font-weight: bold;
}

.mypageHeadHr {
  margin-bottom: 30px;
}

.mypageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileWrap {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  margin-bottom: 30px;
}

.mypageBodyStitle {
  font-size: 14px;
  color: var(--color-333030);
  margin-bottom: 8px;
  margin-top: 20px;
}

.mypageBodyInput {
  width: 100%;
  & input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--color-eee);
    border: 1px solid var(--color-ccc);
    box-sizing: border-box;
  }
}

.mypageMarking {
  background-color: var(--color-eee);
  border: 1px solid var(--color-ccc);
  box-sizing: border-box;
  border-radius: 6px;
  height: 100px;
  display: flex;
  margin-bottom: 40px;
  & li {
    user-select: none;
    height: 100px;
    width: 100px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-main);
    overflow: hidden;
  }
}

.mypageMarkingNone {
  /* background-color: var(--color-eee); */
  background-color: var(--color-white);
  /* border: 1px solid var(--color-ccc); */
  border: none;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 14px;

  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.mypageBodyHash {
  font-size: 12px;
  color: var(--color-888);
  margin-bottom: 8px;
}

.confirmButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #7eaadb;
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
}
