.signuppage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signuppage-container {
  min-width: 280px;
  min-height: 290px;
  padding: 24px;
}

.signuppage-container > form > .idpw {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.signuplabel > label {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.signuplabel > .essential {
  color: #df8484;
}

.signup-buttons {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.75rem;
  padding-top: 30px;
  padding-bottom: 10px;
}

.signup-buttons > button {
  background-color: #619ae0;
  border: solid 2px #619ae0;
  border-radius: 8px;
  color: #fff;
  padding: 0.3rem 0;
}
