@import url(../../pages/colorVaration.css);

/* 버튼 */
.commonBtn {
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
}

/* 제출 버튼 */
.submitBtn {
  background-color: var(--color-main);
  font-size: 16px;
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
}

/* 포스트 버튼 */
.btnPost {
  display: block;
  background-color: var(--color-main);
  color: var(--color-white);
  box-sizing: border-box;
  cursor: pointer;
}

/* 키워드 */
.keywordsObj {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}

.keywords {
  display: inline-block;
  text-align: center;
  line-height: 28px;
  text-decoration: none;
  background-color: var(--color-white);
  font-size: 12px;
  color: var(--color-main);
  padding: 2px 14px;
  border-radius: 20px;
  border: 2px solid var(--color-main);
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
}

.keywords.active {
  background-color: var(--color-main);
  color: var(--color-white);
  border: 2px solid var(--color-main);
}

/* 액티브 버튼 */
.btnActive {
  &:active {
    background-color: var(--color-white);
    color: var(--color-main);
    border: 2px solid var(--color-main);
  }
}

/* 백 버튼 */
.back {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

/* 완료 버튼 */
.btnComplete {
  font-size: 22px;
  width: 174px;
  padding: 7px;
  border-radius: 30px;
  background-color: var(--color-main);
  color: var(--color-white);
  border: none;
  box-sizing: border-box;
}

/* 버튼 호버와 액티브 */
.submitBtn:hover {
  background-color: var(--color-ccc);
  color: var(--color-7d7d7d);
  border: 2px solid var(--color-7d7d7d);
}

.submitBtn:active {
  background-color: var(--color-white);
  color: var(--color-main);
  border: 2px solid var(--color-main);
}

.keywords:active {
  background-color: var(--color-main);
  color: var(--color-white);
  border: 2px solid var(--color-main);
}

/* 페이지네이션 버튼 */
.pagination button {
  color: var(--color-706868);
  background-color: var(--color-ecf1ff);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 4px;
  font-weight: bolder;
}
