@import url(../../pages/colorVaration.css);

.commonBtn {
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;

  outline: none;
  border: none;
}
.submitBtn {
  background-color: var(--color-main);
  font-size: 16px;
  color: var(--color-white);
  border: none;
  box-sizing: border-box;
}

.btnPost {
  display: block;
  margin: 0 auto;
  background-color: var(--color-main);
  color: var(--color-white);

  box-sizing: border-box;
  cursor: pointer;
}

.keywordsObj {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.keywords {
  text-align: center;
  text-decoration: none;
  background-color: var(--color-white);
  font-size: 12px;
  color: var(--color-main);
  padding: 8px 20px;
  border-radius: 20px;
  border: 2px solid var(--color-main);
  font-weight: bold;
  box-sizing: border-box;
}

.btnActive {
  &:active {
    background-color: var(--color-white);
    color: var(--color-main);
    border: 2px solid var(--color-main);
  }
}

.keywords.active {
  background-color: var(--color-main);
  color: var(--color-white);
  border: 2px solid var(--color-main);
}

.back {
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.submitBtn {
  background-color: var(--color-main);
  border: none;
  font-size: 16px;
  color: var(--color-white);
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
}

.keywords {
  display: inline-block;
  text-align: center;
  line-height: 28px;
  text-decoration: none;
  background-color: var(--color-white);
  border: none;
  font-size: 12px;
  color: var(--color-main);
  width: 73px;
  padding: 2px;
  border-radius: 20px;
  border: 2px solid var(--color-main);
  font-weight: bold;

  box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer;
}

.btnComplete {
  font-size: 22px;
  width: 174px;
  padding: 7px;
  border-radius: 30px;

  box-sizing: border-box;

  background-color: var(--color-main);
  border: none;
  color: var(--color-white);
}

.submitBtn:hover {
  background-color: var(--color-ddd);
  color: var(--color-7d7d7d);
  border: 2px solid var(--color-7d7d7d);
}

.submitBtn:active {
  background-color: var(--color-white);
  color: var(--color-main);
  border: 2px solid var(--color-main);
}

.keywords:active {
  background-color: var(--color-main);
  color: var(--color-white);
  border: 2px solid var(--color-main);
}
