.common-btn-style {
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;

  outline: none;
  border: none;
}
.btn1 {
  background-color: #619ae0;
  font-size: 16px;
  color: white;
  border: none;
  box-sizing: border-box;
}

.btn2 {
  display: block;
  margin: 0 auto;
  background-color: #619ae0;
  color: white;

  box-sizing: border-box;
  cursor: pointer;
}
.btn3Parent {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.btn3 {
  text-align: center;
  text-decoration: none;
  background-color: white;
  border: none;
  font-size: 12px;
  color: #619ae0;
  padding: 8px 20px;
  border-radius: 20px;
  border: 2px solid #619ae0;
  font-weight: bold;
  box-sizing: border-box;
}

.btn-active {
  &:active {
    background-color: white;
    color: #619ae0;
    border: 2px solid #619ae0;
  }
}

.btn3.active {
  background-color: #619ae0;
  color: white;
  border: 2px solid #619ae0;
}

.back {
  margin-bottom: 20px;
.common-btn-style{
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;

    outline: none;
    border:none;
}
.btn1{
    background-color: #619AE0;
    font-size: 16px;
    color: white;
    width: 360px;
    border: none;
    box-sizing: border-box;

}

.btn2{
    display: block;
    width: 160px;
    margin: 0 auto;
    background-color: #619AE0;
    color: white;
    
    
    box-sizing: border-box;
    cursor: pointer;
}

.btn3{
    display: inline-block;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
    background-color: white;
    border: none;
    font-size: 12px;
    color: #619AE0;
    width: 73px;
    height: 28px;
    border-radius: 20px;
    border: 1px solid #619AE0;
    font-weight: bold; 
    margin: 0 8px 8px 0;
    box-sizing: border-box;
}

.btn-active{
    &:active{
        background-color: white;
        color: #619AE0;
        border: 2px solid #619AE0;
    }
}

.btn3:active {
    background-color: #619AE0;
    color: white;
    border: 2px solid #619AE0;
}
