button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
/* ------------------- */
.mainpageInput {
  margin-top: 20px;
  width: 100%;
}
.mainpageInput input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.wrap {
  margin-bottom: 100px;
}

.minititle {
  font-size: 12px;
  color: #619ae0;
  font-weight: 400;
}
.minititle2 {
  margin-top: 40px;
}
.bodytext {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 12px;
}

.picktop {
  display: flex;
  justify-content: space-between;
}

.morebtn {
  /* height: 10px; */
  margin-top: auto;
  margin-bottom: 12px;
  font-size: 14px;
}

.recommendList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
