.musicplayerWrap {
  padding: 20px;
  margin-bottom: 100px;
}

.hiddenOverflow {
  overflow: hidden;
}

.musicplayerTop {
  color: #545050;
  & button {
    background-color: transparent;
    border: none;
  }
}

.userIcon {
  height: 18px;
}

.musicMainCover {
  background-color: #63ffe3;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 6px;
  margin: 20px 0;
  border-radius: 10px;
}

.songTitle {
  font-size: 22px;
  font-weight: bold;
  color: #333030;
  margin-bottom: 40px;
}

.seekBar {
  width: 100%;
  border: none;
  margin-bottom: 40px;
  accent-color: #619ae0;
  cursor: pointer;
}

.musicControl {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  margin: 20px 0;
}
.controls {
  transform: rotate(-90deg) translateX(50%);
}
.prev:active path,
.pause:active path,
.next:active path {
  fill: #619ae0; /* 첫 번째 요소에 대한 색상 */
}

/* songlist 하단 곡리스트 부분 */
.songlist {
  display: flex;
  align-center: center;
  padding: 10px;
  background: #ccc;
  & .thumbnail {
    & img {
      width: 50px;
      aspect-ratio: 1/1;
      background-color: red;
      margin-right: 20px;
      border-radius: 8px;
    }
  }

  & .songlist_item,
  .option {
    margin: auto 0;
  }
  & .option {
    margin-left: auto;
  }
}

.listBox {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #272727;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  height: 70px;
  & .songlist_title {
    opacity: 0;
    height: 0;
    transition: all 0.3s;
  }
}

.fullBox {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  transition: all 0.3s;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  & .songlist_title {
    text-align: center;
    line-height: 50px;
    opacity: 1;
    height: 50px;
    transition: all 0.3s;
  }
}
/* --toggle--- */
