.hiddenOverflow {
  overflow: hidden;
}

/* 레이아웃과 위치 */

.wrap {
  margin-top: 20px;
}

.musicMainCover {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: var(--color-main);
  overflow: hidden;
}

.currentPlay {
  max-width: 800px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 20px;
}

/* 텍스트와 관련된 스타일 */
.songTitle {
  font-size: 22px;
  font-weight: bold;
  color: var(--color-333030);
  margin-bottom: 40px;
}

/* 컬러 */
.musicplayerTop {
  color: var(--color-545050);
  & button {
    background-color: transparent;
    border: none;
  }
}

/* 박스 모델 */
.seekBar {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  accent-color: var(--color-main);
  cursor: pointer;
}

/*  */
/* 레이아웃 */
.musicControl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.defaultControl {
  display: flex;
  align-items: center;
  gap: 50px;
}

.volumes {
  position: relative;
}

.volumeRa {
  position: absolute;
  top: 100%;
  right: 0;
  accent-color: var(--color-main);
}

.musicplayerWrap {
  height: 100%;
  margin-top: 20px;
}

.musicWrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* 목록 */
.listBox {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.3s;

  & .songlistTitle {
    opacity: 0;
    height: 0;
    transition: all 0.3s;
  }
  & .selectBox {
    display: none;
  }
}

.fullBox {
  z-index: 999;
  height: 100%;
  transition: all 0.3s;
  overflow-y: auto;
  padding: 20px;
  &::-webkit-scrollbar {
    display: none;
  }
  & .selectBox {
    display: block;
    padding: 20px;
  }
  & .songlistTitle {
    opacity: 1;
    height: 40px;
    font-size: 18px;
    transition: all 0.3s;
  }
  & .titleFirst {
    padding-left: 20px;
  }
  & .titleSecond {
    margin-top: 20px;
  }
}

/* 리스트 아이템 */
.songlist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
  justify-content: center;
  align-items: center;
}

.songlistItem {
  margin: 10px 0 20px 0;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* 이미지 */
.thumbnail {
  & img {
    width: 50px;
    aspect-ratio: 1/1;
    background-color: var(--color-white);
    margin-right: 20px;
    border-radius: 8px;
  }
}

.totalTime {
  float: right;
}

@media (max-width: 768px) {
  .songlist {
    display: block;
  }
}

@media (max-width: 450px) {
  .volumes {
    display: none;
  }
  .defaultControl {
    margin: 0 auto;
  }
  .musicControl {
    margin: 20px 30px;
  }
  .controlerWapper {
    padding: 0 20px;
  }
  .musicWrap {
    overflow: hidden;
  }
  .listBox {
    bottom: 0;
  }
}
