@import url(../../pages/colorVaration.css);

.recListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: stretch;
  aspect-ratio: 1/1.5;
  flex-grow: 1;
  border-radius: 12px;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.4);
  }
  & h3 {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 600;
    position: absolute;
  }
  & img {
    display: block;
    height: 100%;
  }
}

@media (max-width: 450px) {
  .recListItem {
    & h3 {
      font-size: 16px;
    }
  }
}
