@import url(../../pages/colorVaration.css);

.recWrapList {
  display: flex;
  flex-grow: 1;
  height: 170px;
}

.recListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: stretch;
  width: 30.333%;
  height: 100px;
  border-radius: 12px;
  background-color: var(--color-main);
}

.recListItem h3 {
  color: var(--color-white);
  font-size: 16px;
}
