.loadingWrap {
  position: fixed; /* 뷰포트를 덮기 위해 fixed로 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* 배경을 반투명하게 설정 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  z-index: 9999; /* 다른 요소들 위에 표시되도록 z-index 설정 */
}

.loading {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.loading img {
  width: 100px;
  animation: spinner 1.5s infinite linear;
}

.loading p {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: var(--color-333030);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
